*.o
moc_*
Makefile
adminserver/adminserver
userclient/userclient
**/data/*.db-journal
dist/
!dashboard/dist/
!dashboard/dist/**
node_modules/
docs/*.log
docs/_vm*
__pycache__/
*.pyc
tencentmap_credentials.h
common/tencent_credentials.h
